
.container {
    width: 100vw;;
    min-width: 100vw;
    height: auto;
    min-height: 110vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--background2);
}

.TiramisuInfo{
    height: 100px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border-left: solid 8px var(--text) !important;
    background-color: var(--background3);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 100;
    transition: 0.3s;
}
.TiramisuInfo object {
    filter: invert(var(--invert))
}
.TiramisuInfo:hover{
    border-left: solid 8px rgba(0, 118, 255) !important;

}
.main{
    margin-top: 80px;
    width: 80vw;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background1);
    height: auto;
    flex-direction: column;
}
.main h2{
    text-align: center;
    width: 100%;
    text-align: left;
    padding: 0px 5%;
    word-break: break-all;
}
.title{
    align-self: flex-start;
    margin: 0;
    width: auto;
    padding: 0px 20px;
}
.title h1{   
     font-weight: bold !important;
     transition: 0.1s;
     width: min-content;
     box-shadow: 0 0px 0px rgba(0, 118, 255);
}
 .title h1:hover{
    transition: 0.2s;
    color: rgba(0, 118, 255);
    box-shadow: 0 3px 0px rgba(0, 118, 255);
} 
.title h1:active{
    transform: scale(0.9);
}

.toolsContainer{
    width: 10vw;
    background-color: none;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right : 0;
}
.toolsContainer2{
    width: 10vw;
    background-color: none;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left : 0;
}
.tools{
    width: 35%;
    height: auto;
    padding: 20px;
    background-color: var(--background1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    max-width: 30%;
}
.tools hr{
    height: 2px;
    border-width: 0;
    background-color: var(--icon) !important;
    width: 15px;
    margin-left: 0px;
    margin-right: 0px;
}
.tools span {
    cursor: pointer;
    transition: 0.2s;
    -webkit-user-select: none; 
    -moz-user-select: none;   
    -ms-user-select: none;     
    user-select: none;  
    font-size: 150%;
    color: var(--icon) !important;
}
.tools span:active{
    transform: scale(0.8);
}

@media only screen and (max-width: 425px)  {
    .toolsContainer{
        width: 80vw;
        height: 0;
        background-color: none;
        margin-top: 110px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        justify-content: flex-end;
        left: 50%;
        transform: translate(-50%, 0);
        transition: 0.2s;
    }
    .tools{
        width: fit-content;
        height: auto;
        padding: 0;
        padding-right: 10px;
        background-color: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 20px;
        max-width: 30%;
        border-radius: 0 !important;
    }

    .tools span {
        cursor: pointer;
        transition: 0.2s;
        -webkit-user-select: none; 
        -moz-user-select: none;   
        -ms-user-select: none;     
        user-select: none;  
        font-size: 100%;
    }
    .tools hr{
        display: none;
    }
}
